body, html{
    background: url(images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.image:hover{
    border-color:rgb(79, 123, 255);
    transition: 0.5s;
    filter: saturate(1.25);
}
img{
    border: 3px; 
}
.image{
    height: 25%;
    width: 25%;
    border-style: solid;
    border-color: gray;
}
h2{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}